<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
    <title>Login/Registration</title>
</head>
<nav class="navbar sticky-top navbar-expand-lg bg-success">
    <div class="container-fluid">
        <a class="navbar-brand" href="home.html">D&D Machine</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#">Characters</a>
            </li>
            </div>
        </div>
    </nav>
<body style="background:black">
    <div name="page" class="container overflow-hidden text-center">
        <div class="row gy-5">
            <div class="col-6">
                <div class="p-3 border border-warning bg-info">Login
                {% with messages = get_flashed_messages(category_filter=['login']) %}
                    {% if messages %}                            
                        {% for message in messages %}
                            <p style="color:red">{{message}}</p>
                        {% endfor %}
                    {% endif %}
                {% endwith %}
                    <div class="mb-3">
                        <input type="email" class="form-control" id="loginEmailField" placeholder="Name@Example.com">
                        <input type="password" class="form-control" id="loginPasswordField" placeholder="Password">
                        <button name="loginButton" class="btn btn-warning">Login</button>
                    </div>
                </div>
            </div>
            <div class="col-6">
                <div class="p-3 border border-info bg-warning">Register
                {% with messages = get_flashed_messages(category_filter=['register']) %}
                    {% if messages %}                            
                        {% for message in messages %}
                            <p style="color:red">{{message}}</p>
                        {% endfor %}
                    {% endif %}
                {% endwith %}
                    <input type="text" class="form-control" id="registerFirstNameField" placeholder="First Name">
                    <input type="text" class="form-control" id="registerLastNameField" placeholder="Last Name">
                    <input type="email" class="form-control" id="registerEmailField" placeholder="Name@Example.com">
                    <input type="password" class="form-control" id="registerPasswordField" placeholder="Password">
                    <input type="password" class="form-control" id="registerPasswordConfirmField" placeholder="Confirm Password">
                    <button name="registerButton" class="btn btn-info">Register</button>
                </div>
            </div>
        </div>
    </div>
</body>